#cta {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)),
    url("/img/galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  background-position-y: center;

  h2 {
    color: #f1f1f1;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.06em;
    margin-bottom: 1rem;

    @include breakpoint-down(small) {
      font-size: 2.5rem;
    }
  }

  h3 {
    color: #e1e1e1;
    font-size: 1.75rem;
    font-weight: 500;

    @include breakpoint-down(small) {
      font-size: 1.4rem;
    }

    a {
      color: $primary;
      text-decoration: underline;
    }
  }
}
