#footer {
  background: $darkBlue;
  color: #e1e1e1;
  padding: 0 1rem;

  &-brand {
    grid-column: 1 / span 2;

    #brand {
      justify-content: flex-start;
    }

    #quote {
      color: #f1f1f1;
      margin-top: 0.3rem;
      font-size: 1.125rem;
      font-weight: 500;
      display: block;
    }
  }

  &-top {
    padding: 2rem 0;
    border-bottom: 1.8px solid #777;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    .col {
      h5 {
        font-size: 1.125rem;
        font-weight: 600;
        color: #eee;
        margin-bottom: 0.125rem;
      }

      &-line {
        display: block;
        font-size: 1rem;
        display: flex;
        align-items: center;
        margin-bottom: 0.125rem;

        i {
          font-size: 2rem;
          margin-right: 0.3rem;
        }

        a {
          color: #ccc;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &-bot {
    padding: 1rem 0;
    text-align: center;
  }

  .wrapper {
    max-width: 75rem;
    margin: 0 auto;
  }
}
