#nav-wrapper {
  max-width: 87.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;

  &.active {
    position: sticky;
    background-color: $darkBlue;
    animation: slide 420ms;
    transition: all ease-in-out 725ms;
    box-shadow: $shadowMd;
  }
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  75% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

#brand {
  color: #fff;

  img {
    width: 2rem;
    height: auto;
    margin-right: 0.5rem;
  }

  span {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
}

#navbar {
  flex-wrap: wrap;
  padding: 0.75rem 1.25rem;

  #nav-list {
    #dropdown-icon {
      margin-left: 0.25rem;
      width: 1.125rem;
      color: #f1f1f1;
    }

    .dropdown {
      position: relative;
    }

    .dropdown:hover .dropdown-menu {
      display: block;
      box-shadow: $shadowMd;
    }

    .dropdown:hover #dropdown-icon {
      color: $primary;
    }

    .dropdown-menu {
      top: 2rem;
      position: absolute;
      background: #fff;
      display: none;
      padding: 0.5rem;

      &:hover {
        display: block;
      }

      li {
        width: max-content;

        .nav-link {
          padding-bottom: 0.5rem;
          color: $baseGray;

          &:hover {
            color: $primary;
          }
        }
      }
    }

    .nav-link {
      font-size: 1rem;
      color: #e1e1e1;
      display: block;
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 1.25rem;
      font-weight: 600;
      color: #e1e1e1;
      letter-spacing: 2%;

      &:hover {
        color: $primary;
      }

      &.active {
        color: $primary;

        #dropdown-icon {
          color: $primary;
        }
      }
    }

    @keyframes slideY {
      0% {
        height: 0;
      }
      55% {
        height: 60vh;
      }
      100% {
        height: calc(100vh - 56px);
      }
    }

    #btn-cotizar {
      margin-right: 0;
      background: $primary;
      padding: 0.25rem 1rem;
      color: #f1f1f1;
    }
  }
}

#mobile-nav {
  overflow-y: hidden;
  border-top: 2px solid #f1f1f1;
  display: none;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 8;
  background: $darkBlue;
  height: calc(100vh - 56px);
  padding: 1.25rem 2rem;

  &.active {
    display: block;
    animation: slideY 725ms;
  }

  &.unActive {
    animation: unslideY 725ms;
  }

  @keyframes unslideY {
    0% {
      height: calc(100vh - 56px);
    }
    100% {
      height: 0;
    }
  }

  ul {
    display: block;
    position: relative;

    .dropdown-menu {
      padding-left: 1.75rem;

      .nav-link {
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
      }
    }

    .nav-link {
      display: block;
      color: #f1f1f1;
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 0.8rem;
    }
  }
}

#btn-burguer,
#btn-close {
  color: #f1f1f1;
  font-size: 2rem;
}

#btn-close {
  display: block;
  margin-bottom: 0.5rem;
  text-align: end;
}
