<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <!-- styles -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- SOCIAL SEO -->
    <meta property="og:title" content="Diseño web y desarrollo | Xatal">
    <meta property="og:image" content="https://www.xatalweb.com/img/xatal.png">
    <meta property="og:url" content="https://xatalweb.com/" />
    <meta property="og:description" content="Diseño web y desarrollo web para empresas y profesionales. En Xatal te ayudamos llevar tu negocio al internet mediante un sitio web que atrae clientes.">
    <!-- SEO -->
    <meta name="description" content="Diseño web y desarrollo web para empresas y profesionales. En Xatal te ayudamos llevar tu negocio al internet mediante un sitio web que atrae clientes.">
  </head>
  <body>
    {% include "navbar.njk" %}

    <main class="{% if soloPage %}soloPage{% endif %}">
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    <!-- scripts -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="/app.js"></script>
  </body>
</html>