<footer id="footer">
  <div class="wrapper">
    <section id="footer-top">
      <div class="col" id="footer-brand">
        <a href="" id="brand" class="flex-center">
          <img src="/img/logo.svg" alt="">
          <span>xatal</span>
        </a>
        <span id="quote">
          Diseño y desarrollo web para negocios y profesionistas.
        </span>
      </div>
      <div class="col">
        <h5>Contáctanos</h5>
        <span class="col-line">
          <i class='bx bxl-facebook-circle'></i>
          <a href="" target="_blank">facebook.com/xatalweb</a>
        </span>
        <span class="col-line">
          <i class='bx bxl-whatsapp'></i>
          <a href="" target="_blank">+55 6900 2357</a>
        </span>
        <span class="col-line">
          <i class='bx bx-envelope'></i>
          <a href="" target="_blank">xatalweb@gmail.com</a>
        </span>
      </div>
      <div class="col">
        <h5>Énlaces Útiles</h5>
        <span class="col-line">
          <a href="" target="_blank">Blog</a>
        </span>
        <span class="col-line">
          <a href="" target="_blank">Preguntas frecuentes</a>
        </span>
        <span class="col-line">
          <a href="" target="_blank">Cotizar en línea</a>
        </span>
      </div>
      <div class="col">
        <h5>Nuestros Servicios</h5>
        <span class="col-line">
          <a href="" target="_blank">Diseño y desarrollo web</a>
        </span>
        <span class="col-line">
          <a href="" target="_blank">Tiendas en línea (e-commerce)</a>
        </span>
        <span class="col-line">
          <a href="" target="_blank">sistemas web administrativos</a>
        </span>
      </div>
    </section>
    <div id="footer-bot">
    © Copyright 2021 - Xatal 
  </div>
  </div>
</footer>