<footer id="footer">
  <div class="wrapper">
    <section id="footer-top">
      <div class="col" id="footer-brand">
        <a href="/" id="brand" class="flex-center">
          <img src="/img/logo.svg" alt="">
          <span>xatal</span>
        </a>
        <span id="quote">
          Diseño y desarrollo web empresarial.
        </span>
      </div>
      <div class="col">
        <h5>Contáctanos</h5>
        <span class="col-line">
          <i class='bx bxl-facebook-circle'></i>
          <a href="https://facebook.com/xatalweb" target="_blank">facebook.com/xatalweb</a>
        </span>
        <span class="col-line">
          <i class='bx bxl-whatsapp'></i>
          <a href="https://api.whatsapp.com/send?phone=2281237048&app" target="_blank">2281 237 048</a>
        </span>
        <span class="col-line">
          <i class='bx bx-envelope'></i>
          <a href="mailto:contacto@xatal.com.mx" target="_blank">contacto@xatal.com.mx</a>
        </span>
      </div>
      <div class="col">
        <h5>Énlaces Útiles</h5>
        <span class="col-line">
          
        </span>
        <span class="col-line">
          <a href="/preguntas-frecuentes/">Preguntas frecuentes</a>
        </span>
        <span class="col-line">
          <a href="/cotizar">Cotizar gratis</a>
        </span>
      </div>
      <div class="col">
        <h5>Nuestros Servicios</h5>
        <span class="col-line">
          <a href="/servicios/desarrollo-web/">Diseño y desarrollo web</a>
        </span>
        <span class="col-line">
          <a href="/servicios/tiendas-online/">Tiendas en línea (e-commerce)</a>
        </span>
        <span class="col-line">
          <a href="/servicios/sistemas-administrativos/">Sistemas web administrativos</a>
        </span>
      </div>
    </section>
    <div id="footer-bot">
    © Copyright 2021 - Xatal 
  </div>
  </div>
</footer>