<section id="cta" class="text-center">
  <div class="container">
    <h2>¿Dudas?</h2>
    <h3>
    Consulta nuestra sección de <a href="/preguntas-frecuentes/">preguntas frecuentes</a>  
    o envíanos un mensaje directo <a href="/contacto/">aquí</a>.
  </h3>
  </div>
</section>