// Flexbox
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

// Grid
.responsive-3-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include breakpoint-down(small) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.responsive-2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint-down(small) {
    grid-template-columns: repeat(1, 1fr);
  }
}

// Sections
.container {
  max-width: 75rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-align: center;
  color: $darkGray;

  @include breakpoint-down(small) {
    font-size: 1.5rem;
  }

  &::after {
    content: "";
    height: 3px;
    width: 3rem;
    background-color: $primary;
    display: block;
    margin: 0.3rem auto 2rem auto;
  }
}

// Text
.text-center {
  text-align: center;
}

// Responsive
.mobile-hidden {
  @include breakpoint-down(small) {
    display: none!important;
  }
}

.desktop-hidden {
  @include breakpoint-up(medium) {
    display: none!important;
  }
}

// Components
#faq-maintitle::after {
  margin-bottom: 0;
}

.btn-sm-primary {
  border: none;
  outline: none;
  cursor: pointer;
  background: $primaryDark;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  color: #f1f1f1;
  font-weight: 500;
  width: max-content;
  margin: 0 auto;
  margin-top: 0.5rem;
  display: block;
  line-height: 1;
  transition: background ease-in 150ms;
  box-shadow: $shadowMd;

  &:hover {
    background: $primary;
  }
}

.faq-title {
  margin-top: 1.5rem;
  grid-column: 1 / span 2;
  font-size: 1.65rem;
  font-weight: 600;
  color: $darkGray;
  letter-spacing: 0.04em;
  color: $primaryDark;
  margin-bottom: -1rem;

  @include breakpoint-down(small) {
    grid-column: 1;
  }
}


.btn-secondary {
  border: none;
  outline: none;
  box-shadow: $shadowMd;
  color: #f1f1f1;
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background: #999;
  font-size: 1.125rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  line-height: 1;
  transition: background ease 250ms;

  &:hover {
    background: rgb(177, 177, 177);
  }

  @include breakpoint-down(small) {
    font-size: 1rem;
  }
}


.btn-primary {
  border: none;
  outline: none;
  box-shadow: $shadowMd;
  color: #f1f1f1;
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background: $primaryDark;
  font-size: 1.125rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  line-height: 1;
  transition: background ease 250ms;

  &:hover {
    background: $primary;
  }

  @include breakpoint-down(small) {
    font-size: 1rem;
  }
}

.img-fluid {
  width: 100%;
  height: auto;
}

.card {
  box-shadow: $shadowMd;
  background-color: #fff;
  display: block;
}

.more-info-icon {
  width: 1rem;
  height: auto;
  color: $primary;
}

.object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
