html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  line-height: 1.3;
  overflow-x: hidden;
}
@media (min-width: 64em) {
  body {
    font-size: 1rem;
  }
}
body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.15;
  color: #111;
  margin-top: 0px;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 64em) {
  h1 {
    font-size: 1.2rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}
@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.responsive-3-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 39.9375em) {
  .responsive-3-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.responsive-2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 39.9375em) {
  .responsive-2-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

main.soloPage {
  margin-top: 3.5rem;
}

.container {
  max-width: 75rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-align: center;
  color: #111;
}
@media (max-width: 39.9375em) {
  .section-title {
    font-size: 1.5rem;
  }
}
.section-title::after {
  content: "";
  height: 3px;
  width: 3rem;
  background-color: #629dff;
  display: block;
  margin: 0.3rem auto 2rem auto;
}

.text-center {
  text-align: center;
}

@media (max-width: 39.9375em) {
  .mobile-hidden {
    display: none !important;
  }
}

@media (min-width: 40em) {
  .desktop-hidden {
    display: none !important;
  }
}

.btn-primary {
  color: #f1f1f1;
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background: #629dff;
  font-size: 1.125rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  line-height: 1;
  transition: background ease 250ms;
}
.btn-primary:hover {
  background: #3586ff;
}
@media (max-width: 39.9375em) {
  .btn-primary {
    font-size: 1rem;
  }
}

.img-fluid {
  width: 100%;
  height: auto;
}

.card {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  display: block;
}

.more-info-icon {
  width: 1rem;
  height: auto;
  color: #629dff;
}

.object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upDown {
  animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.5rem);
  }
}
#nav-wrapper {
  max-width: 87.5rem;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
#nav-wrapper.active {
  background-color: #0f121f;
  transition: all ease-in-out 450ms;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.12);
}

#brand {
  color: #fff;
}
#brand img {
  width: 2rem;
  height: auto;
  margin-right: 0.5rem;
}
#brand span {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

#navbar {
  padding: 0.75rem 1.25rem;
}
#navbar #nav-list #dropdown-icon {
  margin-left: 0.25rem;
  width: 1.125rem;
  color: #f1f1f1;
}
#navbar #nav-list .dropdown {
  position: relative;
}
#navbar #nav-list .dropdown:hover .dropdown-menu {
  display: block;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.12);
}
#navbar #nav-list .dropdown:hover #dropdown-icon {
  color: #629dff;
}
#navbar #nav-list .dropdown-menu {
  top: 2rem;
  position: absolute;
  background: #fff;
  display: none;
  padding: 0.5rem;
}
#navbar #nav-list .dropdown-menu:hover {
  display: block;
}
#navbar #nav-list .dropdown-menu li {
  width: max-content;
}
#navbar #nav-list .dropdown-menu li .nav-link {
  padding-bottom: 0.5rem;
  color: #333;
}
#navbar #nav-list .dropdown-menu li .nav-link:hover {
  color: #629dff;
}
#navbar #nav-list .nav-link {
  font-size: 1rem;
  color: #e1e1e1;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
  font-weight: 600;
  color: #e1e1e1;
  letter-spacing: 2%;
}
#navbar #nav-list .nav-link:hover {
  color: #629dff;
}
#navbar #nav-list .nav-link.active {
  color: #629dff;
}
#navbar #nav-list .nav-link.active #dropdown-icon {
  color: #629dff;
}
#navbar #nav-list #btn-cotizar {
  margin-right: 0;
  background: #629dff;
  padding: 0.25rem 1rem;
  color: #f1f1f1;
}

#mobile-nav {
  display: none;
  z-index: 999;
  background: #0f121f;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.25rem 2rem;
}
#mobile-nav.active {
  display: block;
}
#mobile-nav ul {
  display: block;
  position: relative;
}
#mobile-nav ul .dropdown-menu {
  padding-left: 1.75rem;
}
#mobile-nav ul .dropdown-menu .nav-link {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}
#mobile-nav ul .nav-link {
  display: block;
  color: #f1f1f1;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

#btn-burguer, #btn-close {
  color: #f1f1f1;
  font-size: 2rem;
}

#btn-close {
  display: block;
  margin-bottom: 0.5rem;
  text-align: end;
}

#footer {
  background: #0f121f;
  color: #e1e1e1;
  padding: 0 1rem;
}
#footer-brand {
  grid-column: 1/span 2;
}
@media (max-width: 39.9375em) {
  #footer-brand {
    grid-column: 1;
  }
}
#footer-brand #brand {
  justify-content: flex-start;
}
#footer-brand #quote {
  color: #f1f1f1;
  margin-top: 0.3rem;
  font-size: 1.125rem;
  font-weight: 500;
  display: block;
}
#footer-top {
  padding: 2rem 0;
  border-bottom: 1.8px solid #777;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
@media (max-width: 39.9375em) {
  #footer-top {
    grid-template-columns: repeat(1, 1fr);
  }
}
#footer-top .col h5 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #eee;
  margin-bottom: 0.125rem;
}
#footer-top .col-line {
  display: block;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}
#footer-top .col-line i {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}
#footer-top .col-line a {
  color: #ccc;
}
#footer-top .col-line a:hover {
  text-decoration: underline;
}
#footer-bot {
  padding: 1rem 0;
  text-align: center;
}
#footer .wrapper {
  max-width: 75rem;
  margin: 0 auto;
}

#cta {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url("/img/galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  background-position-y: center;
}
#cta h2 {
  color: #f1f1f1;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.06em;
  margin-bottom: 1rem;
}
@media (max-width: 39.9375em) {
  #cta h2 {
    font-size: 2.5rem;
  }
}
#cta h3 {
  color: #e1e1e1;
  font-size: 1.75rem;
  font-weight: 500;
}
@media (max-width: 39.9375em) {
  #cta h3 {
    font-size: 1.4rem;
  }
}
#cta h3 a {
  color: #629dff;
  text-decoration: underline;
}

#hero {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#hero #arrow-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 1.75rem;
}
#hero #arrow-wrapper svg {
  width: 3rem;
  height: auto;
  color: #fff;
}
@media (max-width: 39.9375em) {
  #hero #arrow-wrapper svg {
    width: 2.5rem;
  }
}
#hero #copy {
  letter-spacing: 0.06em;
}
#hero #copy h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  letter-spacing: 0.06em;
}
@media (max-width: 39.9375em) {
  #hero #copy h1 {
    font-size: 2.25rem;
  }
}
#hero #copy h3 {
  color: #e1e1e1;
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 3rem;
  letter-spacing: 0.06em;
}
@media (max-width: 39.9375em) {
  #hero #copy h3 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
#hero #copy #btn-cta-secondary {
  letter-spacing: 0.06em;
  font-size: 1.125rem;
  color: #629dff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero #copy #btn-cta-secondary span {
  margin-right: 0.3rem;
}
#hero #copy #btn-cta-secondary .bx {
  text-decoration: none !important;
}

#services-list {
  gap: 1rem;
}
#services-list .card {
  padding: 0.75rem;
  border: 1px solid #f1f1f1;
}
#services-list .card .service-svg {
  display: block;
  margin: 0 auto;
  width: 3rem;
  height: auto;
  color: #629dff;
}
#services-list .card h4 {
  margin: 0.75rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #111;
  text-align: center;
}
#services-list .card ul {
  list-style: square;
  padding-left: 1.5rem;
}
#services-list .card ul li {
  margin-bottom: 0.25rem;
}
#services-list .card .more-info {
  color: #629dff;
  font-weight: 500;
  margin-top: 0.5rem;
}
#services-list .card .more-info:hover {
  text-decoration: underline;
}
#services-list .card .more-info-icon {
  margin-left: 0.25rem;
}

#testimonials {
  background: #0f121f;
}
#testimonials .section-title {
  color: #eee;
  margin-bottom: 3.125rem;
}
#testimonials .responsive-3-grid {
  gap: 1.5rem;
}
#testimonials .responsive-3-grid .card {
  padding: 1.125rem;
  position: relative;
  transition: transform ease-in-out 420ms;
}
#testimonials .responsive-3-grid .card:hover {
  transform: translateY(-0.75rem);
}
#testimonials .responsive-3-grid .card .quote {
  background-color: #629dff;
  padding: 0.5rem;
  padding-bottom: 0.25rem;
  color: #f1f1f1;
  font-size: 2.25rem;
  position: absolute;
  top: -1.125rem;
  left: 0.75rem;
}
#testimonials .responsive-3-grid .card .testimonial-author {
  color: #111;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 600;
  margin-top: 0.5rem;
}
#testimonials .responsive-3-grid .card .testimonial-role {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}
#testimonials .responsive-3-grid .card .testimonial-img {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.75rem;
}

#portfolio .responsive-3-grid {
  gap: 1rem;
}
#portfolio .responsive-3-grid .project {
  position: relative;
  overflow: hidden;
}
#portfolio .responsive-3-grid .project-wrapper {
  z-index: 2;
  position: relative;
  transition: transform ease-in-out 400ms;
}
#portfolio .responsive-3-grid .project-wrapper:hover {
  transform: scale(1.2);
}
#portfolio .responsive-3-grid .project img {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.12);
}

#blogposts .responsive-3-grid {
  gap: 2rem;
}
#blogposts .card {
  position: inherit;
  border: 1px solid #f1f1f1;
}
#blogposts .card .post-img {
  height: 13.5rem;
}
#blogposts .card .post-body {
  padding: 0.75rem 1rem;
}
#blogposts .card .post-body h4 {
  font-weight: 600;
  color: #0f121f;
  font-size: 1.4rem;
  margin: 0.25rem 0 0.5rem 0;
}
#blogposts .card .post-body .post-tag {
  background: #eee;
  padding: 0.2rem 0.6rem;
  border-radius: 0.75rem;
  font-size: 0.85rem;
  color: #555;
}
#blogposts .card .post-body .read-more {
  display: flex;
  align-items: center;
  margin-top: 0.36rem;
  color: #629dff;
  font-weight: 500;
}
#blogposts .card .post-body .read-more:hover {
  text-decoration: underline;
}
#blogposts .card .post-body .read-more svg {
  margin-left: 0.25rem;
}

.soloPageTitle {
  padding: 0 0.5rem;
  height: 16rem;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: bottom !important;
}
@media (max-width: 39.9375em) {
  .soloPageTitle {
    height: 13rem;
  }
}
.soloPageTitle h1 {
  color: #f1f1f1;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0;
  z-index: 2;
}
@media (max-width: 39.9375em) {
  .soloPageTitle h1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 39.9375em) {
  .service-faq {
    padding-top: 0 !important;
  }
}
.service-faq .section-title {
  grid-column: 1/span 2;
  margin-bottom: 0;
}
@media (max-width: 39.9375em) {
  .service-faq .section-title {
    grid-column: 1;
    margin-bottom: -2rem !important;
  }
}

.service-description {
  padding-bottom: 2rem;
  padding-top: 2rem;
  gap: 2rem;
}
.service-description_text p {
  margin-bottom: 0;
}
.service-description_text h4 {
  font-weight: 600;
  color: #111;
  font-size: 1.25rem;
}

.service-process {
  background: #0f121f;
  color: #e1e1e1;
}
.service-process .responsive-3-grid {
  gap: 2rem;
}
.service-process .section-title {
  color: #f1f1f1;
}
.service-process .step-header {
  color: #f1f1f1;
}
.service-process .step-header .step-number {
  font-weight: 700;
  font-size: 2.5rem;
  background: #629dff;
  padding: 0 0.6rem;
  margin-right: 0.25rem;
}
.service-process .step-header h4 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
}
.service-process li ul {
  margin-top: 0.5rem;
  list-style: square;
  margin-left: 1rem;
}

.service-tech .tech-list {
  flex-wrap: wrap;
}
.service-tech .tech-list li {
  margin-right: 1.5rem;
}
@media (max-width: 39.9375em) {
  .service-tech .tech-list li {
    margin-bottom: 1.5rem;
  }
}

#about-us {
  padding-top: 1.5rem;
}
#about-us_left {
  width: 50%;
}
#about-us_right {
  width: 50%;
  margin-left: 1.75rem;
}
#about-us_right h1 {
  font-size: 2.5rem;
  color: #629dff;
  letter-spacing: 0.04em;
  font-weight: 700;
  margin-bottom: 1rem;
}
#about-us_right p {
  margin-bottom: 1rem;
}

#about-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 56rem;
  padding-top: 1.5rem;
}
#about-features h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #111;
}
#about-features .card {
  border: 1px solid #f1f1f1;
  padding: 1rem;
}
#about-features ul {
  list-style-type: square;
  padding-left: 1.5rem;
  margin-top: 1rem;
}
#about-features ul li {
  margin-bottom: 0.75rem;
}

#contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-content: center;
  padding-top: 2rem;
}
@media (max-width: 39.9375em) {
  #contact {
    grid-template-columns: 1fr;
    gap: 1.75rem;
  }
}
#contact #left h2 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  font-size: 2.25rem;
  color: #111;
}
@media (max-width: 39.9375em) {
  #contact #left h2 {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}
#contact #left p {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
@media (max-width: 39.9375em) {
  #contact #left p {
    margin-bottom: 1rem;
  }
}
#contact #left #socials {
  font-size: 2rem;
}
#contact #left #socials i {
  background: #629dff;
  color: #f1f1f1;
  padding: 0.3rem;
  border-radius: 50%;
  margin-right: 0.125rem;
  transition: all ease-in 200ms;
}
#contact #left #socials i:hover {
  background: #3586ff;
  color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.12);
}

.form-control {
  margin-bottom: 1.125rem;
}
.form-control label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.form-control input, .form-control textarea {
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  padding: 0.25rem;
  border-radius: 0.3rem;
  border: 2px solid #777;
}
.form-control textarea {
  resize: none;
}

form button {
  display: block;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  outline: none;
  border: none;
}
