#budget {
  text-align: center;
  overflow: hidden;
  padding: 1.5rem;

  #steps {
    ol {
      display: flex;
      justify-content: center;

      li {
        margin-right: 0.75rem;

        button {
          background: $primary;
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          color: #f1f1f1;
          font-size: 1.25rem;
          font-weight: 700;
          border: none;
          outline: none;
          cursor: pointer;
          transition: background 300ms ease;

          &:hover {
            background: $primaryDark;
          }
        }
      }
    }
  }

  #steps-wrapper {
    display: flex;
    transition: transform 500ms ease;
    padding: 6rem 0;

    .step {
      min-width: 100%;
      height: 100%;

      h2 {
        margin-top: 2rem;
        font-weight: 500;
        color: $baseGray
      }
    }
  }
}