.soloPageTitle {
  padding: 0 0.5rem ;
  height: 16rem;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: bottom !important;

  @include breakpoint-down(small) {
    height: 13rem;
  }

  h1 {
    color: #f1f1f1;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0;
    z-index: 2;

    @include breakpoint-down(small) {
      font-size: 2.25rem;
    }
  }
}

.service-faq {
  @include breakpoint-down(small) {
    padding-top: 0!important;
  }

  .section-title {
    grid-column: 1 / span 2;
    margin-bottom: 0;

    @include breakpoint-down(small) {
      grid-column: 1;
      margin-bottom: -2rem!important;
    }
  }
}

.service-description {
  padding-bottom: 2rem;
  padding-top: 2rem;
  gap: 2rem;

  &_text {
    p {
      margin-bottom: 0;
    }
  
    h4 {
      font-weight: 600;
      color: $darkGray;
      font-size: 1.25rem;
    }
  }
}

.service-process {
  background: $darkBlue;
  color: #e1e1e1;
  
  .responsive-3-grid {
    gap: 2rem;
  }

  .section-title {
    color: #f1f1f1;
  }

  .step-header {
    color: #f1f1f1;

    .step-number {
      font-weight: 700;
      font-size: 2.5rem;
      background: $primary;
      padding: 0 0.6rem;
      margin-right: 0.25rem;
      
    }

    h4 {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  li ul {
    margin-top: 0.5rem;
    list-style: square;
    margin-left: 1rem;
  }
}

.service-tech {
  .tech-list {
    flex-wrap: wrap;

    li {
      margin-right: 1.5rem;

      @include breakpoint-down(small) {
        margin-bottom: 1.5rem;
      }
    }
  }
}
