---
layout: 'base.njk'
pageTitle: Diseño y desarrollo web | Xatal
soloPage: true
navActive: servicio
---

<header class="soloPageTitle flex-center" 
  style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),url(https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
  <h1>Diseño y Desarollo Web</h1>
</header>

<!-- Service description -->
<section class="service-description responsive-2-grid container">
  <div class="service-description_text">
    <h4>De acuerdo a tus necesidades</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
  <div class="service-description_text">
    <h4>Sitios web gestionables</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.Tú mismo puedes editar, eliminar y agregar el contenido de tu sitio web sin depender de terceros, desde un panel de administración fácil de usar.
</p>
  </div>
  <div class="service-description_text">
    <h4>Regalos</h4>
    <p>Generamos códigos QR que enlacen a tu sitio web. Estos son ideales para colocarlos en tu publicidad.Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
  <div class="service-description_text">
    <h4>Capacitación de tu sitio web gestionable</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.Al entregarte tu sitio web te entregamos un manual de uso y te grabamos un video tutorial personalizado de cómo gestionar tu sitio.</p>
  </div>
  <div class="service-description_text">
    <h4>Ventajas de un sitio web</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.Estalbeces mayor confianza con tus clientes, y a diferencia de una página de Facebook o Instagram, les ofreces acceso a mayor información. También atraes más clientes mediante búsquedas de Google.</p>
  </div>
  <div class="service-description_text">
    <h4>Listo para usarse</h4>
    <p>Nosotros te entregamos tu sitio completamente listo sin que tú tengas que preocuparte por cuestiones técnicas. De igual manera, si se presenta algún error, nosotros nos comprometemos a arreglarlo.Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
</section>
<!-- end Service description -->

<!-- Service process -->
<!-- end Service process -->
<section class="service-process">
  <div class="container">
    <h2 class="section-title">Nuestro proceso de desarrollo</h2>
    <ul class="responsive-3-grid">
      <li>
        <div class="step-header">
          <span class="step-number">1</span>
          <h4>Análisis</h4>
          <ul>
          <li>Te entrevistamos para conocer tus necesidades y tu negocio.</li>
          <li>Hacemos un análisis de páginas web de negocios del mismo rubro.</li>
          </ul>
        </div>
      </li>
       <li>
        <div class="step-header">
          <span class="step-number">1</span>
          <h4>Análisis</h4>
          <ul>
          <li>Te entrevistamos para conocer tus necesidades y tu negocio.</li>
          <li>Hacemos un análisis de páginas web de negocios del mismo rubro.</li>
          </ul>
        </div>
      </li>
       <li>
        <div class="step-header">
          <span class="step-number">1</span>
          <h4>Análisis</h4>
          <ul>
          <li>Te entrevistamos para conocer tus necesidades y tu negocio.</li>
          <li>Hacemos un análisis de páginas web de negocios del mismo rubro.</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="step-header">
          <span class="step-number">1</span>
          <h4>Análisis</h4>
          <ul>
          <li>Te entrevistamos para conocer tus necesidades y tu negocio.</li>
          <li>Hacemos un análisis de páginas web de negocios del mismo rubro.</li>
          </ul>
        </div>
      </li>
       <li>
        <div class="step-header">
          <span class="step-number">1</span>
          <h4>Análisis</h4>
          <ul>
          <li>Te entrevistamos para conocer tus necesidades y tu negocio.</li>
          <li>Hacemos un análisis de páginas web de negocios del mismo rubro.</li>
          </ul>
        </div>
      </li>
       <li>
        <div class="step-header">
          <span class="step-number">1</span>
          <h4>Análisis</h4>
          <ul>
          <li>Te entrevistamos para conocer tus necesidades y tu negocio.</li>
          <li>Hacemos un análisis de páginas web de negocios del mismo rubro.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- end Service process -->

<!-- Service tech stack -->
<section class="service-tech container">
  <h2 class="section-title">Tecnologías que utilizamos</h2>
  <ul class="tech-list flex-center">
    <li>
      <img src="/img/tecnologias/wordpress.png" alt="Logo Wordpress">
    </li>
    <li>
      <img src="/img/tecnologias/elementor.png" alt="Logo Elementor">
    </li>
    <li>
      <img src="/img/tecnologias/figma.png" alt="Logo figma">
    </li>
    <li>
      <img src="/img/tecnologias/html.png" alt="Logo html">
    </li>
    <li>
      <img src="/img/tecnologias/css.png" alt="Logo css">
    </li>
    <li>
      <img src="/img/tecnologias/javascript.png" alt="Logo javascript">
    </li>
    <li>
      <img src="/img/tecnologias/eleventy.png" alt="Logo eleventy">
    </li>
    <li>
      <img src="/img/tecnologias/netlify.png" alt="Logo netlify">
    </li>
  </ul>
</section>
<!-- end Service tech stack -->

<!-- Service faq -->
<section class="service-description responsive-2-grid container service-faq">
  <h2 class="section-title">Preguntas frecuentes</h2>

  <div class="service-description_text">
    <h4>De acuerdo a tus necesidades</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
  <div class="service-description_text">
    <h4>Sitios web gestionables</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.Tú mismo puedes editar, eliminar y agregar el contenido de tu sitio web sin depender de terceros, desde un panel de administración fácil de usar.
</p>
  </div>
  <div class="service-description_text">
    <h4>Regalos</h4>
    <p>Generamos códigos QR que enlacen a tu sitio web. Estos son ideales para colocarlos en tu publicidad.Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
  <div class="service-description_text">
    <h4>Capacitación de tu sitio web gestionable</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.Al entregarte tu sitio web te entregamos un manual de uso y te grabamos un video tutorial personalizado de cómo gestionar tu sitio.</p>
  </div>
  <div class="service-description_text">
    <h4>Ventajas de un sitio web</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.Estalbeces mayor confianza con tus clientes, y a diferencia de una página de Facebook o Instagram, les ofreces acceso a mayor información. También atraes más clientes mediante búsquedas de Google.</p>
  </div>
  <div class="service-description_text">
    <h4>Listo para usarse</h4>
    <p>Nosotros te entregamos tu sitio completamente listo sin que tú tengas que preocuparte por cuestiones técnicas. De igual manera, si se presenta algún error, nosotros nos comprometemos a arreglarlo.Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
</section>
<!-- end Service faq -->

{% include "components/cta.njk" %}