---
layout: 'base.njk'
pageTitle: Diseño y desarrollo web | Xatal
soloPage: true
---

<header class="soloPageTitle flex-center" 
  style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),url(https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
  <h1>Diseño y Desarollo Web</h1>
</header>

<section class="service-description responsive-2-grid container">
  <div class="service-description_text">
    <h4>De acuerdo a tus necesidades</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
  <div class="service-description_text">
    <h4>De acuerdo a tus necesidades</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
  <div class="service-description_text">
    <h4>De acuerdo a tus necesidades</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
  <div class="service-description_text">
    <h4>De acuerdo a tus necesidades</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
  <div class="service-description_text">
    <h4>De acuerdo a tus necesidades</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
  <div class="service-description_text">
    <h4>De acuerdo a tus necesidades</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
</section>