---
layout: 'base.njk'
pageTitle: Diseño y desarrollo web | Xatal
soloPage: true
navActive: servicio
---

<header class="soloPageTitle flex-center" 
  style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),url(/img/web-design.jpg)">
  <h1>Diseño y Desarollo Web</h1>
</header>

<!-- Service description -->
<section class="service-description responsive-2-grid container">
  <div class="service-description_text">
    <h4>De acuerdo a tus necesidades</h4>
    <p>Nosotros no ofrecemos planes predefinidos, analizamos tus necesidades y te ofrecemos una solución a tu medida, ya que nos enfocamos en ofrecerle valor a tu negocio.</p>
  </div>
  <div class="service-description_text">
    <h4>Sitios web gestionables</h4>
    <p>Tú mismo puedes editar, eliminar y agregar el contenido de tu sitio web sin depender de terceros, desde un panel de administración fácil de usar.
    </p>
  </div>
  <div class="service-description_text">
    <h4>Regalos</h4>
    <p>
      Generamos códigos QR que enlacen a tu sitio web. Estos son ideales para colocarlos en tu publicidad.
    </p>
  </div>
  <div class="service-description_text">
    <h4>Capacitación de tu sitio web gestionable</h4>
    <p>
      Al entregarte tu sitio web te redactamos un manual de uso y te grabamos un video tutorial personalizado de cómo gestionar tu sitio.
    </p>
  </div>
  <div class="service-description_text">
    <h4>Ventajas de un sitio web</h4>
    <p>
      Estableces mayor confianza con tus clientes. A diferencia de una página de Facebook o Instagram, muestras más información. También atraes más clientes mediante búsquedas de Google.
      </p>
  </div>
  <div class="service-description_text">
    <h4>Listo para usarse</h4>
    <p>
      Te entregamos tu sitio completamente listo sin que tú tengas que preocuparte por cuestiones técnicas.
    </p>
  </div>
</section>
<!-- end Service description -->

<!-- Service process -->
<!-- end Service process -->
<section class="service-process">
  <div class="container">
    <h2 class="section-title">Nuestro proceso de desarrollo</h2>
    <ul class="responsive-3-grid">
      <li>
        <div class="step-header">
          <span class="step-number">1</span>
          <h4>Análisis</h4>
          <ul>
            <li>Te entrevistamos para conocer tus necesidades y tu negocio.</li>
            <li>Hacemos un análisis de páginas web de negocios del mismo rubro.</li>
          </ul>
        </div>
      </li>
       <li>
        <div class="step-header">
          <span class="step-number">2</span>
          <h4>Propuesta</h4>
          <ul>
            <li>En base al análisis previo, te damos una propuesta del contenido y estructura de la web.</li>
            <li>Establecemos la cotización.</li>
          </ul>
        </div>
      </li>
       <li>
        <div class="step-header">
          <span class="step-number">3</span>
          <h4>Prototipo Inicial</h4>
          <ul>
            <li>Realizamos un prototipo del diseño y estilo de tu página web.</li>
            <li>Aplicamos cambios de acuerdo a tu retroalimenación.</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="step-header">
          <span class="step-number">4</span>
          <h4>Desarrollo</h4>
          <ul>
            <li>En base a lo anterior, desarrollamos el resto de la página web.</li>
            <li>Te vamos notificando del progreso constantemente.</li>
          </ul>
        </div>
      </li>
       <li>
        <div class="step-header">
          <span class="step-number">5</span>
          <h4>Lanzmaiento</h4>
          <ul>
            <li>Desplegamos la página web en el internet.</li>
            <li>Configuramos el sitio web para que puedas usarlo fácilmente.</li>
          </ul>
        </div>
      </li>
       <li>
        <div class="step-header">
          <span class="step-number">6</span>
          <h4>Capacitación</h4>
          <ul>
            <li>Te capacitamos en el uso de tu sitio web.</li>
            <li>Te entregamos el manual de usuario y grabamos un vido tutorial personalizado.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- end Service process -->

<!-- Service tech stack -->
<section class="service-tech container">
  <h2 class="section-title">Tecnologías que utilizamos</h2>
  <ul class="tech-list flex-center">
    <li>
      <img src="/img/tecnologias/wordpress.png" alt="Logo Wordpress">
    </li>
    <li>
      <img src="/img/tecnologias/elementor.png" alt="Logo Elementor">
    </li>
    <li>
      <img src="/img/tecnologias/figma.png" alt="Logo figma">
    </li>
    <li>
      <img src="/img/tecnologias/html.png" alt="Logo html">
    </li>
    <li>
      <img src="/img/tecnologias/css.png" alt="Logo css">
    </li>
    <li>
      <img src="/img/tecnologias/javascript.png" alt="Logo javascript">
    </li>
    <li>
      <img src="/img/tecnologias/eleventy.png" alt="Logo eleventy">
    </li>
    <li>
      <img src="/img/tecnologias/netlify.png" alt="Logo netlify">
    </li>
  </ul>
</section>
<!-- end Service tech stack -->

<!-- Service faq -->
<section class="service-description responsive-2-grid container service-faq">
  <h2 class="section-title">Preguntas frecuentes</h2>

  <div class="service-description_text">
    <h4>¿Qué es hosting y dominio?</h4>
    <p>
      Hosting es el proceso de alojar tu aplicación o página web en un servidor para que esté disponible en el interney y el dominio es la dirección URL que tendrá tu sitio web, por ejemplo www.xatalweb.com.
    </p>
  </div>
  <div class="service-description_text">
    <h4>Ya cuento con hosting y/o dominio ¿debo adquirir uno nuevo?</h4>
    <p>
      Depende del tipo de hosting con el que cuentes y el que se necesite para tu página web. Si cuentas con un plan en Wix será necesario contratar otro hosting ya que Wix solo permite el desarrollo de sitios wbe con su contrusctor de sitios wbe, el cual es sumamente límitado.
    </p>
  </div>
  <div class="service-description_text">
    <h4>¿Qué debo enviarles para hacer el sitio web?</h4>
    <p>
      Depende del proyecto, pero en la mayoría de los casos: tu logo, imágenes o videos que desees mostrar, redacción de textos, por ejemplo la historia e información de tu negocio.
    </p>
  </div>
  <div class="service-description_text">
    <h4>¿Qué formas de pago aceptan?</h4>
    <p>
      Depositos bancarios o pagos mediante PayPal.
    </p>
  </div>
  <div class="service-description_text">
    <h4>Ya tengo un sitio web pero no funciona ¿pueden arreglarlo?</h4>
    <p>
      Dependerá del caso en partícular, por lo tanto, será necesario un análisis previo.
    </p>
  </div>
  <div class="service-description_text">
    <h4>Si deseo cambios posteriores ¿cuáles son los costos?</h4>
    <p>
      Depende del proyecto en particular y del tipo de cambios que desees realizar. En casos de que sean cambios menores, los realizamos sin ningún costo.
    </p>
  </div>
</section>
<!-- end Service faq -->

{% include "components/cta.njk" %}