---
layout: 'base.njk'
soloPage: true
pageTitle: Clientes de Xatal
navActive: clientes
---

<section id="portfolio" class="container">
  <h2 class="section-title">Proyectos que hemos realizado</h2>
  <ul class="responsive-3-grid">
    <li class="project">
      <a href="">
        <div class="project-wrapper">
          <img src="https://www.xatalweb.com/static/assets/img/portfolio/vintage.png" alt="Captura de pantalla de sitio web de Vintage Rock Band" class="img-fluid">
        </div>
      </a>
    </li>
    <li class="project">
      <a href="">
        <div class="project-wrapper">
          <img src="https://www.xatalweb.com/static/assets/img/portfolio/chevrolet.png" alt="Captura de pantalla de sitio webd e Jorge Torres" class="img-fluid">
        </div>
      </a>
    </li>
    <li class="project">
      <a href="">
        <div class="project-wrapper">
          <img src="https://www.xatalweb.com/static/assets/img/portfolio/hipocampus.png" alt="Captura de pantalla de sitio web de salón de eventos Hipocampus" class="img-fluid">
        </div>
      </a>
    </li>
    <li class="project">
      <a href="">
        <div class="project-wrapper">
          <img src="https://www.xatalweb.com/static/assets/img/portfolio/amigos.png" alt="Captura de pantalla de sitio web de Amigos de los Animales" class="img-fluid">
        </div>
      </a>
    </li>
  </ul>
</section> 