---
layout: 'base.njk'
soloPage: true
pageTitle: Clientes de Xatal
navActive: clientes
---

<section id="portfolio" class="container">
  <h2 class="section-title">Proyectos que hemos realizado</h2>
  <ul class="responsive-3-grid">
  {% for client in collections.cliente %}
    <li class="project">
      <a href="{{client.url}}">
        <div class="project-wrapper">
          <img src="{{client.data.img}}" alt="Captura de pantalla de sitio web de Vintage Rock Band" class="img-fluid">
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</section> 