---
layout: 'base.njk'
soloPage: true
pageTitle: Contacto
navActive: contacto
---

<section id="contact" class="container">
  <div id="left">
    <h2>Contáctanos</h2>
    <p>Con gusto te resolveremos tus dudas. También puedes contactarnos mediante nuestras redes sociales y otros medios.</p>
    <div id="socials">
    <a href="https://www.facebook.com/xatalweb" target="_blank">
      <i class='bx bxl-facebook'></i>
    </a>
    <a href="https://www.instagram.com/xatalweb" target="_blank">
      <i class='bx bxl-instagram'></i>
    </a>
    <a href="https://api.whatsapp.com/send?phone=5569002357&app" target="_blank">
      <i class='bx bxl-whatsapp'></i>
    </a>
    <a href="mailto:xatalweb@gmail.com" target="_blank">
      <i class='bx bx-envelope'></i>
    </a>
    </div>
  </div>

  <div id="right">
    <form action="">
      <div class="form-control">
        <label for="name">Nombre: </label>
        <input type="text" name="name">
      </div>
      <div class="form-control">
        <label for="email">Correo: </label>
        <input type="email" name="email">
      </div>
      <div class="form-control">
        <label for="subject">Asunto: </label>
        <input type="text" name="subject">
      </div>
      <div class="form-control">
        <label for="subject">Mensaje: </label>
        <textarea rows="5" name="message"></textarea>
      </div>
      <button type="submit" class="btn-primary">Enviar</button>
    </form>
  </div>
</section>

{% include "components/cta.njk" %}