---
layout: 'base.njk'
pageTitle: Acerca de Xatal
navActive: nosotros
soloPage: true
---

<section id="about-us" class="container flex-center">
  <div id="about-us_left">
    <img src="/img/about.png" alt="Ilustración tecnológica" class="img-fluid">
  </div>
  <div id="about-us_right">
    <h1>Sobre Xatal</h1>
    <p>
      Somos una agencia de diseño y desarrollo web con sede en Xalapa, Veracruz. Nos enfocamos en brindar servicios para empresas y profesionistas que desean contar con una presencia digital y aumentar el potencial de su negocio.
    </p>
    <p>
      Nosotros realizamos un proceso de análisis metodológico para entender tu negocio y sus necesidades, de esta manera podemos ofrecerte una solución a la medida.
    </p>
    <p>
      Nos interesa generar una relación laboral honesta y a largo plazo, es por esto que te ofrecemos soporte constante aún depsués de concluir un proyecto con nosotros.
    </p>
  </div>
</section>

<section class="container" id="about-features">
  <div id="left" class="card">
    <h3>Tu negocio al alcance de todos</h3>
    <ul>
      <li>Te ofrecemos sitios web que atraen clientes mediante búsquedas en Google.</li>
      <li>Desarrollamos tiendas en línea (e-commerce) para que vendas tus productos físicos o digítales a cualquier parte dle mundo.</li>
      <li>Con un sitio web puedes ofrece información clara a tus clientes y generar más confianza y profesionalismo.</li>
    </ul>
  </div>
  <div id="right" class="card">
    <h3>Facilidad de uso</h3>
    <ul>
      <li>Te ofrecemos sitios web, sistemas administrativos y tiendas en línea que puedes gestionar tú mismo con gran facilidad.</li>
      <li>Te capacitamos en el uso de tu sitio web, sistema administrativo o tienda en línea y te brindamos un manual de uso.</li>
      <li>En caso de que tu sitio, tienda o sistema presente un error, nosotros nos encargamos de ello.</li>
    </ul>
  </div>
</section>

{% include "components/cta.njk" %}